@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	font-size: small;
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	@apply bg-white;
	@apply dark:bg-black;
}

/* TIMELINE STYLING */
.timeline ._3eULf {
	@apply text-center;
}

.timeline ._3_ygE {
	@apply rounded-tl-md border border-r-0  dark:border-stroke-dark;
}
.timeline ._3ZbQT {
	@apply dark:border-stroke-dark;
}
.timeline ._34SS0 {
	@apply dark:bg-dark-secundary;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
