@tailwind base;
@tailwind components;
@tailwind utilities;



*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-size: small;
  background-color: #140420;
  font-family: Arial, Helvetica, sans-serif;
}


